$primary-blue-1: #007fff;
$primary-blue-2: #0d1c2a;
$primary-black-1: #202020;

:root {
  background-color: #202020;
}
* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
