$primary-blue-1: #007fff;
$primary-blue-2: #0d1c2a;
$primary-black-1: #202020;
$primary-black-2: #404040;

.title {
  font-size: 2.5rem;
  font-family: "Bebas Neue";
  color: $primary-blue-1;
}
.header {
  padding: 0.5rem 1rem;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  z-index: 99;
}
.header-temp {
  height: 68px;
}
nav {
  display: flex;
  gap: 2rem;

  a {
    text-decoration: none;
    font-size: 1.2rem;
    user-select: none;

    &:hover {
      color: $primary-blue-1;
    }
  }
  a.active {
    color: $primary-blue-1;
  }
}
.menu 
{
  display: none;
}
@media screen and (max-width: 700px) {
  .header {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;

    div 
    {
      position: relative;
    }

  }
  nav 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 1rem;
    position: absolute;
    top: 150%;
    right: -100%;
    background-color: black;
    width: 100vw;
    padding: 1rem 0;
    gap: 2rem;
    // display: none;

    a 
    {
      text-align: center;
    }
  }
  .menu 
  {
    display: block;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
  }
}
